.what-i-can-do{
  background-image: radial-gradient(
    ellipse,
    $color-geraldine,
    $color-terracotta
  );
}
.what-i-can-do__header {
  color: $color-white;

  @extend %header;
}

.what-i-can-do__title {
  color: $color-fiord;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

.what-i-can-do__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.what-i-can-do__skill {
  border: 0.1rem solid $color-periwinkle-gray;
  padding: 1rem;
  margin: 0.2rem;
  font-size: 1.5rem;
  white-space: nowrap;
  border-radius: 0.3rem;
}