extends _component/leyout/page
block cool-config
block awsome-content
    include _component/landing-page/landing-page
    include _component/about-me/about-me
    include _component/about-me/award/award
    include _component/about-me/what-can-i-do/what-can-i-do